:root {
  font-family: "Korolev Medium", "Trebuchet MS", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

* {
  //TODO! Välj mellan light eller medium
  font-family: "Korolev light", "Trebuchet MS", Helvetica, sans-serif;
  letter-spacing: 1px;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

li {
  list-style: none;
  &:hover {
    border-bottom: solid white 1px;
    cursor: pointer;
  }
}

a:hover {
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: black;
  // background-color: rgba(247, 247, 247, 0.954);
  background-color: rgb(255, 255, 255);
}
