@use "variables" as v;

* {
  font-family: "Korolev Medium", "Trebuchet MS", Helvetica, sans-serif;
}

.descriptive__img--mobile {
  @media screen and (min-width: v.$tablet) {
    display: none;
  }
}

.descriptive__img--tablet {
  display: none;

  @media screen and (min-width: v.$tablet) {
    display: flex;
  }
}
